[
  {
    "labels": {
      "group": "http",
      "module": "http_2xx"
    },
    "targets": [
      "https://www.deutsche-digitale-bibliothek.de/",
      "https://pro.deutsche-digitale-bibliothek.de/"
    ]
  },
  {
    "labels": {
      "group": "ssl",
      "module": "tls_expiry"
    },
    "targets": [
      "https://www.deutsche-digitale-bibliothek.de/",
      "https://pro.deutsche-digitale-bibliothek.de/"
    ]
  }
]
